<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>405853262258-7458lp88b8rkt54jblpdrdo2rhm1e2e0.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.405853262258-7458lp88b8rkt54jblpdrdo2rhm1e2e0</string>
	<key>API_KEY</key>
	<string>AIzaSyB8Puge4XqA24K7RUJXMSR7kfubmNT7XCY</string>
	<key>GCM_SENDER_ID</key>
	<string>405853262258</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.dataControl</string>
	<key>PROJECT_ID</key>
	<string>data-control-df283</string>
	<key>STORAGE_BUCKET</key>
	<string>data-control-df283.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:405853262258:ios:1e83e5a029cf800e5e14ab</string>
</dict>
</plist>